<h1>This is the secret page</h1>

<p>Yes it is</p>

<img src='http://geeksnation.org/wp-content/uploads/2016/10/Most-Beautiful-Girl.jpg'>

<li><a href='/register'>Sign Up!</a></li>
<li><a href='/login'>Login!</a></li>
<li><a href='/logout'>Logout!</a></li>